@inject SignInManager<ApplicationUser> signInManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/login.css" />
</head>
<body>
    <!-- Navigation -->
    @*    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="~/images/shinava.jpg" alt="Logo" class="rounded-circle" style="width:40px;">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="mainMenu">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a asp-controller="Home" asp-action="Index" class="nav-link">Home Shin</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        @if (signInManager.IsSignedIn(User))
                        {
                            <li>
                                <form asp-controller="Account" asp-action="Logout" method="post">
                                    <button type="submit" class="btn btn-link text-dark" style="width:auto; background-color:none">
                                        Logout @User.Identity.Name
                                    </button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a asp-controller="Account" asp-action="Register" class="nav-link">Register</a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="Account" asp-action="Login" class="nav-link">Login</a>
                            </li>
                        }

                    </ul>
                </div>
            </div>
        </nav>*@

    <!-- Page Content -->
    <div class="container">

        <main role="main" class="pb-3">
            <br />
            @RenderBody()
        </main>
    </div>
    <!-- /.container -->
    <!-- Footer -->
    @*<footer class="border-top card-footer text-muted fixed-bottom" style="background-color: #f7f1e3">
            <span>&copy;Anannnnnnnnnnnnn @DateTime.Now.Year</span>
        </footer>*@
    <!-- Bootstrap core Library -->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
